{% load static %}
<html>
	<head>
		<title>
                {% block title%}
                {%endblock%}
                </title>
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta charset="UTF-8">
                <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
                <link rel="icon" href="{% static 'logos.png' %}" type="image/gif" sizes="16x16">
        {%block css%}
        {%endblock%}
	</head>
	<body>
        {% block body %}
        {% endblock %}
        {% block js%}
        {% endblock%}
	</body>
</html>