
<style type="text/css">
	b{
		font-family: calibri;
		font-size: 220px;
	}
	#a{
		transform: translate3d(-88px,-635px,100px);
	}
</style>

<body style="background: green">
<div style="border: 1px dashed black;width: 1000px;height: 640px;background: blue;border-radius: 50px">
<b style="border-radius: 50px;color:white;">Dowlet</b>
</div>
<div id='a' style="border: 1px dashed black;width: 1350px;height: 635px;border-radius: 50px">
<b style="border-radius: 50px;margin-left:100px;color:black; ">Dowlet</b>
</div>
<body>
